{
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "10m",
    "max-file": "3"
  },
  "storage-driver": "overlay2",
  "iptables": true,
  "ip-forward": true,
  "default-address-pools": [
    {
      "base": "{{ configure_docker_networks_default_base }}",
      "size": {{ configure_docker_networks_default_size | default(24) }}
    }
  ],
  "live-restore": true,
  "userland-proxy": false,
  "experimental": false,
  "max-concurrent-downloads": 3,
  "max-concurrent-uploads": 5,
  "default-ulimits": {
    "nofile": {
      "Name": "nofile",
      "Hard": 64000,
      "Soft": 64000
    }
  }
} 