[sshd]
enabled = true
port = ssh
filter = sshd
logpath = /var/log/auth.log
maxretry = {{ configure_fail2ban_maxretry }}
bantime = {{ configure_fail2ban_bantime }}
findtime = {{ configure_fail2ban_findtime }}