{{ containers_deployment_user }} ALL=(ALL) NOPASSWD: \
    /usr/bin/docker, \
    /usr/bin/docker-compose, \
    /usr/bin/docker compose, \
    /usr/bin/systemctl reload docker, \
    /usr/bin/systemctl status docker, \
    /usr/bin/systemctl is-active docker, \
    /usr/bin/systemctl restart docker, \
    /usr/bin/apt update, \
    /usr/bin/apt upgrade, \
    /usr/bin/apt install --only-upgrade docker-ce, \
    /usr/bin/apt install --only-upgrade docker-ce-cli, \
    /usr/bin/apt install --only-upgrade containerd.io, \
    {% for network in configure_firewall_docker_networks %}
    /usr/bin/ufw allow from {{ network }}, \
    {% endfor %}
    /usr/bin/ufw status, \
    /usr/bin/ufw status verbose, \
    /usr/bin/journalctl -u docker, \
    /usr/bin/journalctl -u docker --follow, \
    /usr/bin/journalctl -u docker --since="1 hour ago"