{{ containers_deployment_user }} ALL=(ALL) NOPASSWD: /usr/bin/docker, /usr/bin/docker-compose, /usr/bin/docker compose, /usr/bin/systemctl restart docker, /usr/bin/systemctl status docker, /usr/bin/systemctl is-active docker, /usr/bin/docker system prune -f, /usr/bin/docker volume prune -f, /usr/bin/docker network prune -f, /usr/bin/docker ps, /usr/bin/docker ps -a, /usr/bin/apt update, /usr/bin/apt upgrade, /usr/bin/apt list --upgradable, /usr/bin/apt autoremove, /usr/bin/apt autoclean 