remoteservers:
  hosts:
    "bananas.com":
      ansible_initial_user: "initial_username"
      ansible_initial_key_comment: "OVH Ubuntu user for initial deployment, replace after first call"
      ansible_deployment_user: "deployment_username"
      ansible_deployment_key_comment: "OVH Ubuntu user for deployment"
      ansible_ssh_common_args: "-o ForwardAgent=yes"
      ansible_python_interpreter: "/usr/bin/python3.10"